.game-result {
  font-size: 32px;
  margin: 16px;
  text-align: center;
  min-height: 48px;
}
.dealer {
  text-align: center;
}
.dealer-score {
  font-size: 32px;
}
.dealer-hand {
  font-size: 172px;
  height: 228px;
}
.player {
  text-align: center;
  margin-top: 16px;
}
.player-score {
  font-size: 32px;
}
.player-hand {
  font-size: 172px;
  height: 256px;
}
.hit-buton, .stay-button, .restart-button {
  margin: 0 12px;
  font-size: 24px;
  width: 128px;
  height: 48px;
}
