.dealer {
  margin-top: 32px;
  text-align: center;
}
.dealer-score {
  font-size: 32px;
}
.game-log {
  position: fixed;
  top: 180px;
  left: 75%;
  color: gray;
}

.game-log > span {
  color: purple;
  display: inline-block;
  margin-bottom: 16px;
}

.message {
  margin-bottom: 8px;
}
